* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-direction: column;
}

#container {
    width: 1000px;
    height: auto;
    margin: auto;
    padding-top: 20px;
    align-items: center;
}

.header {
    align-items: center;
    justify-content: center;
    border: 2px solid cornflowerblue;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.main {
    align-items: center;
    justify-content: center;
    border: 2px solid cornflowerblue;
    width: 100%;
    height: auto;
    padding: 20px;
}

#buttonDiv {
    padding-top: 20px;
    width: 90%;
}

#button {
    width: 100%;
    border: 2px solid cornflowerblue;
    background-color: white;
}

#button:hover {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    color: white;
}

.newDiv {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid cornflowerblue;
    padding: 15px;
    overflow: auto;
    align-items: center;
}

.box {
    align-items: center;
    justify-content: center;
    width: 19%;
    height: 49%;
    border: 2px solid cornflowerblue;
    padding: 5px;
}

.box:hover {
    border-color: white;
}

.box p {
    text-align: center;
}